body{
  font-family: 'Courier New', monospace;
}

.headerPhoto{
  width: 8em;
  margin-left: Auto;
  margin-right: Auto;
}

.headerGroup{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.headerTitle{
  margin-top: -.5em;
  margin-bottom: .25em;
}